*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100%;
    box-sizing: border-box;
    background-color:blue;
}

header{
    width: 100%;
    height: 40vh;
    padding:3px;
    background: linear-gradient(0deg, rgba(20,20,20,1) 43%, rgba(57,57,59,0.9827118347338936) 80%, rgba(82,82,85,0.9827118347338936) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment:scroll;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-artist-container{
    width:150px;
    height:150px;
}
#image-artist{
    max-width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 100%;
}
.title-container{
    width:45%;
    height:40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
}
.title-container h1{
    color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main{
    width:100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(0deg, rgba(20,20,20,1) 66%, rgba(57,57,59,0.9827118347338936) 96%, rgba(82,82,85,0.9827118347338936) 100%);
    box-sizing: border-box;
}
h2{
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    border-bottom: solid 0.5px rgb(168, 167, 167);
    color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
section{
    width:100%;
    height:100vh;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(180px,1fr))  ;
    column-gap: 20px;
    row-gap: 10px;
    
    box-sizing: border-box;
}
.card-album{
    width:100%;
    height:100%;
    min-width:120px;
    max-width: 240px;
    min-height: 180px;
    max-height: 230px;
    padding:10px;
    background-color: rgba(82,82,85,0.33);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
}
.card-album-portada{
    width:100%;
    height:60%;
    
    max-width: 200px;
    
    max-height: 200px;
    object-fit: cover;
}
.card-album-nombre{
    padding-top: 10px;
    color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 110%;
  letter-spacing: 2px;
}
.card-album-nombre h3{
    font-size: 0.7rem;
    text-transform: uppercase;

}
.card-album-nombre span{
    font-size: 0.7rem;
}
.busqueda-container{
    width:80%;
    height:170px;
    padding:0px;
    border:solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .input-container{
    width:69%;
    height:20%;
    background-color: darkslateblue;
    display: flex;
    justify-content: space-evenly;
  }